body,
.div-align{
    height: 100%;
    margin: 0;
    padding: 0 0;
    background-color:#F04F38;
}

.container-centered {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color:#F04F38;
    padding:5% 0% 5% 0%;
}

.row-centered {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.div-centering {
    float: none;
    margin: 0 auto;
}

.text-login-white{
    color:#fff;
    text-decoration: none;
}
.text-login-white:hover{
    color:#fff;
    text-decoration: none;
}
.backgroundMain
{
	background-color:#F04F38 !important;
}
.iconsBackground
{
	background-color:#E8E9EA !important;
}
.MenuBackground
{
	width:100%;
}
.navbar-default .navbar-toggle{
	border:none;
}
.navbar-toggle{
	padding:0px;
}
.navbar-brand{
	height:60px;
	padding: 3px 15px;
}
.navbar-default .navbar-nav > li > a{
	color:#FFF;
}
.menuOptions{
	font-size:2vw;
	text-decoration:none;
}
.navbar-nav > li > a{
	line-height:normal !important;
}
.navbar-nav > li:hover{
	border: 1px solid #b3b3b3;
	background-color:#86201a;
	color:#FFF;
}
