<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	   
	  <display-name>Atoms</display-name>
	  
	  	<!-- Service -->
	  	<servlet><servlet-name>javax.ws.rs.core.Application</servlet-name></servlet>
		<servlet><servlet-name>Login</servlet-name><jsp-file>Response/Service/Login.jsp</jsp-file> </servlet>
		<servlet><servlet-name>Categories</servlet-name><jsp-file>Response/Service/Categories.jsp</jsp-file></servlet>
		<servlet><servlet-name>Challenges</servlet-name><jsp-file>Response/Service/Challenges.jsp</jsp-file></servlet>
		<servlet><servlet-name>Status</servlet-name><jsp-file>Response/Service/Status.jsp</jsp-file></servlet>
		<servlet><servlet-name>SubmitChallenge</servlet-name><jsp-file>Response/Service/SubmitChallenge.jsp</jsp-file></servlet>
		<servlet><servlet-name>Top10</servlet-name><jsp-file>Response/Service/Top.jsp</jsp-file></servlet>
		<servlet><servlet-name>Rank</servlet-name><jsp-file>Response/Service/UserRank.jsp</jsp-file></servlet>
		<servlet><servlet-name>Score</servlet-name><jsp-file>Response/Service/UserScore.jsp</jsp-file></servlet>
		<servlet><servlet-name>Badges</servlet-name><jsp-file>Response/Service/Badges.jsp</jsp-file></servlet>
		<servlet><servlet-name>NotFound</servlet-name><jsp-file>Response/NotFound.jsp</jsp-file></servlet>
		<servlet><servlet-name>FileUploadHandler</servlet-name><jsp-file>Response/Service/Submit.jsp</jsp-file></servlet>
		<servlet><servlet-name>AtomsService</servlet-name><jsp-file>Response/Service.jsp</jsp-file> </servlet>
		<servlet><servlet-name>ProfilePicture</servlet-name><jsp-file>Response/Service/Profile.jsp</jsp-file> </servlet>
		<servlet><servlet-name>Version</servlet-name><jsp-file>Response/Service/Version.jsp</jsp-file> </servlet>
		<servlet><servlet-name>TimeLine</servlet-name><jsp-file>Response/Service/TimeLine.jsp</jsp-file> </servlet>
		<servlet><servlet-name>Date</servlet-name><jsp-file>Response/Service/Date.jsp</jsp-file> </servlet>
		
		<servlet-mapping><servlet-name>Version</servlet-name><url-pattern>Service/Version</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Login</servlet-name><url-pattern>Service/Login</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>ProfilePicture</servlet-name><url-pattern>Service/Profile</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Categories</servlet-name><url-pattern>Service/Categories</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Challenges</servlet-name><url-pattern>Service/Challenges</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Status</servlet-name><url-pattern>Service/Status</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>SubmitChallenge</servlet-name><url-pattern>Service/SubmitChallenge</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Rank</servlet-name><url-pattern>Service/Rank</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Score</servlet-name><url-pattern>Service/Score</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Top10</servlet-name><url-pattern>Service/Top10</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Badges</servlet-name><url-pattern>Service/Badges</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>javax.ws.rs.core.Application</servlet-name><url-pattern>/api/*</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>FileUploadHandler</servlet-name><url-pattern>Service/Submit</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>TimeLine</servlet-name><url-pattern>Service/TimeLine</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Date</servlet-name><url-pattern>Service/Date</url-pattern></servlet-mapping>
		
		<!-- /Service -->
		
		<!-- Admin -->
		
		<servlet><servlet-name>AdminLogin</servlet-name><jsp-file>Response/Admin/Login.jsp</jsp-file> </servlet>
		<servlet><servlet-name>AdminLogout</servlet-name><jsp-file>Response/Admin/Logout.jsp</jsp-file> </servlet>
		<servlet><servlet-name>AdminPanel</servlet-name><jsp-file>Response/Admin/AdminPanel.jsp</jsp-file> </servlet>
		<servlet><servlet-name>FindUser</servlet-name><jsp-file>Response/Admin/Control/FindUser.jsp</jsp-file> </servlet>
		<servlet><servlet-name>FindCategory</servlet-name><jsp-file>Response/Admin/Control/FindCategory.jsp</jsp-file> </servlet>
		<servlet><servlet-name>FindChallenge</servlet-name><jsp-file>Response/Admin/Control/FindChallenge.jsp</jsp-file> </servlet>
		<servlet><servlet-name>User</servlet-name><jsp-file>Response/Admin/Control/User.jsp</jsp-file> </servlet>
		<servlet><servlet-name>Category</servlet-name><jsp-file>Response/Admin/Control/Category.jsp</jsp-file> </servlet>
		<servlet><servlet-name>Challenge</servlet-name><jsp-file>Response/Admin/Control/Challenge.jsp</jsp-file> </servlet>
		<servlet><servlet-name>FindCompleted</servlet-name><jsp-file>Response/Admin/Control/FindCompletedChallenge.jsp</jsp-file> </servlet>
		<servlet><servlet-name>CompletedChallenge</servlet-name><jsp-file>Response/Admin/Control/CompletedChallenge.jsp</jsp-file> </servlet>
		<servlet><servlet-name>Report</servlet-name><jsp-file>Response/Admin/Control/Report.jsp</jsp-file> </servlet>
		
		<servlet><servlet-name>UserForm</servlet-name><jsp-file>Response/Admin/Forms/UserForm.jsp</jsp-file> </servlet>
		<servlet><servlet-name>ChallengeForm</servlet-name><jsp-file>Response/Admin/Forms/ChallengeForm.jsp</jsp-file> </servlet>
		<servlet><servlet-name>CategoryForm</servlet-name><jsp-file>Response/Admin/Forms/CategoryForm.jsp</jsp-file> </servlet>
		<servlet><servlet-name>ValidateForm</servlet-name><jsp-file>Response/Admin/Forms/ValidateForm.jsp</jsp-file> </servlet>
		
		

		<servlet-mapping><servlet-name>AdminLogin</servlet-name><url-pattern>Admin/Login</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>AdminLogout</servlet-name><url-pattern>Admin/Logout</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>AdminPanel</servlet-name><url-pattern>Admin/AdminPanel</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>FindUser</servlet-name><url-pattern>Admin/FindUser</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>FindCategory</servlet-name><url-pattern>Admin/FindCategory</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>FindChallenge</servlet-name><url-pattern>Admin/FindChallenge</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>User</servlet-name><url-pattern>Admin/User</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Category</servlet-name><url-pattern>Admin/Category</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Challenge</servlet-name><url-pattern>Admin/Challenge</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>UserForm</servlet-name><url-pattern>Admin/Forms/User</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>ChallengeForm</servlet-name><url-pattern>Admin/Forms/Challenge</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>CategoryForm</servlet-name><url-pattern>Admin/Forms/Category</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>ValidateForm</servlet-name><url-pattern>Admin/Forms/Validate</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>FindCompleted</servlet-name><url-pattern>Admin/FindCompleted</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>CompletedChallenge</servlet-name><url-pattern>Admin/CompletedChallenge</url-pattern></servlet-mapping>
		<servlet-mapping><servlet-name>Report</servlet-name><url-pattern>Admin/AdminPanel/Report</url-pattern></servlet-mapping>
		
		
		
		<!-- /Admin -->
	
	   <servlet-mapping><servlet-name>NotFound</servlet-name><url-pattern>*.jsp</url-pattern></servlet-mapping>
	   <servlet-mapping><servlet-name>AtomsService</servlet-name><url-pattern>Service</url-pattern></servlet-mapping>
	   
	
		
</web-app>
